@model Ktcs.Models.ForgotPasswordViewModel
@{
  ViewBag.Title = "Forgot your password?";
}

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-md-5 col-sm-6 col-xs-11 col-lg-4 center-margin", role = "form" }))
    {
      <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">KTCS LMS <span class="opacity-80">v3.0</span></h3>
      <div id="login-form" class="content-box bg-default">

        @Html.AntiForgeryToken()
        <div class="content-box-wrapper pad20A">
          <img class="mrg25B center-margin radius-all-100 display-block" src="/assets/image-resources/gravatar.png" alt="">
          @Html.ValidationSummary("", new { @class = "text-danger" })
          <div class="form-group">
            <div class="input-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
              <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-xs-12" })
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-offset-3 col-md-9">
              <div class="input-group">
                <input type="submit" class="btn btn-block btn-primary" value="Email Link" />
              </div>
            </div>
          </div>
        </div>
      </div>
    }

