@model Ktcs.Data.TopicCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TopicCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.topicCategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topicCategory1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.topic1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.topic1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.topicCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
