@model Ktcs.Classes.Course

@{
    ViewBag.Title = "Details";
}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Course Details</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfficialCourseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialCourseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prereq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prereq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inscomments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscomments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overview)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courseware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courseware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coursewarevendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coursewarevendor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coursewarecost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coursewarecost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coursewarenotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coursewarenotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datecreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastupdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastupdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstructorNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendorwebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendorwebsite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isvisable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isvisable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisibleInFlyout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisibleInFlyout)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseNumber }, new {@class="btn btn-primary"}) 
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
