@model IEnumerable<Ktcs.Classes.Course>

@{
    ViewBag.Title = "Courses";
}

<div id="page-title">
    <p>KTCS</p>
    <h2>Courses</h2>
</div>

<div class="panel">
  <div class="panel-body">
    <h3 class="title-hero">@Html.ActionLink("Create New Course", "Create")</h3>
    <div class="example-box-wrapper">
	    <table id="datatable-tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficialCourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prereq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscomments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courseware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coursewarevendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coursewarecost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coursewarenotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datecreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastupdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendorwebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isvisable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisibleInFlyout)
            </th>
            <th></th>
         </tr>
	       <tbody>
@foreach (var item in Model) {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialCourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prereq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscomments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courseware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coursewarevendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coursewarecost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coursewarenotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datecreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastupdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendorwebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isvisable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisibleInFlyout)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CourseNumber }) |
                <a href="javascript:void(0)" class="openDetailInModal" data-url="@Url.Action("Details", new {id = item.CourseNumber})">Details</a> |
				@Html.ActionLink("Delete", "Delete", new { id=item.CourseNumber })
            </td>
          </tr>
}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Wrapper -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

@Scripts.Render("~/bundles/datatables")

