
@model Ktcs.Areas.Login.Models.LoginViewModel
@{
  ViewBag.Title = "Log in";
}

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-md-5 col-sm-6 col-xs-11 col-lg-4 center-margin", role = "form" }))
    {
      <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">KTCS LMS <span class="opacity-80">v3.0</span></h3>
      <div id="login-form" class="content-box bg-default">

        @Html.AntiForgeryToken()
        <div class="content-box-wrapper pad20A">
          <img class="mrg25B center-margin radius-all-100 display-block" src="/assets/image-resources/gravatar.jpg" alt="">
          <div class="form-group">
            <div class="input-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
              <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-xs-12" })
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
              <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger col-xs-12" })
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-offset-3 col-md-9">
              <div class="input-group">
                <button type="submit" class="btn btn-block btn-primary">Login</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="checkbox-primary col-md-6" style="height: 20px;">
              <label>
                @*<input type="checkbox" id="loginCheckbox1" class="custom-checkbox">*@
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-checkbox" })
                @Html.LabelFor(m => m.RememberMe)
              </label>
            </div>
            <div class="text-right col-md-6">
              @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { title = "recover password" })
            </div>
          </div>
        </div>


      </div>

    }






@*<h2>@ViewBag.Title.</h2>
  <div class="row">
    <div class="col-md-8">
      <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
          @Html.AntiForgeryToken()
          <h4>Use a local account to log in.</h4>
                  <hr />
                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                  </div>
                  <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                      @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                  </div>
                  <p>
                    @Html.ActionLink("Register as a new user", "Register")
                  </p>
                  @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
        }
      </section>
    </div>
    <div class="col-md-4">
      <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
      </section>
    </div>
  </div>
*@
