@model IEnumerable<Ktcs.Data.Brand>

@{
  ViewBag.Title = "Brands";
}
<div id="page-title">
  <p>Courses</p>
  <h2>Brands</h2>
</div>

<div class="panel">
  <div class="panel-body">
    <h3 class="title-hero">
      @Html.ActionLink("Create New", "Create")
    </h3>
    <div class="example-box-wrapper">
      <table id="datatable-tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Brand</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Brand</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          @foreach (var item in Model)
                    {
                  <tr>
                    <td>@Html.DisplayFor(modelItem => item.brand1)</td>
                    <td>
                      @Html.ActionLink("Edit", "Edit", new { id = item.brandId }) |
                      @Html.ActionLink("Details", "Details", new { id = item.brandId }) |
                      @Html.ActionLink("Delete", "Delete", new { id = item.brandId })
                    </td>
                  </tr>
                    }
        </tbody>
      </table>
    </div>
  </div>
</div>
