@model Ktcs.Data.BrandCategory

@{
    ViewBag.Title = "Details";
}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">BrandCategory Details</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brandCategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandCategory1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand.brand1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.brand1)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrandCategoryID }, new {@class="btn btn-primary"}) 
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
