@model IEnumerable<Ktcs.Data.BrandCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brandCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand.brand1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brandCategory1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.brand1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrandCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrandCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrandCategoryID })
        </td>
    </tr>
}

</table>
