
<ul id="sidebar-menu">
    <li class="header"><span>Overview</span></li>
    <li>
        <a href="@Url.Action("Index","Demo")" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Admin dashboard</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="no-menu">
        <a href="../frontend-template/index.html" title="Frontend template">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Frontend template</span>
            <span class="bs-label label-danger">
                NEW
            </span>
        </a>
    </li>
    <li class="header"><span>Students</span></li>
    <li class="no-menu">
        <a href="@Url.Action("Students", "Demo")" title="Students">
            <i class="glyph-icon icon-user"></i>
            <span>Students</span>
        </a>
    </li>

    <li class="no-menu">
        <a href="@Url.Action("Payments", "Demo")" title="Payments">
            <i class="glyph-icon icon-cc-visa"></i>
            <span>Payments</span>
        </a>
    </li>

    <li class="no-menu">
        <a href="@Url.Action("Waitlist", "Demo")" title="Waitlist">
            <i class="glyph-icon icon-clock-o"></i>
            <span>Waitlist</span>
        </a>
    </li>

    <li class="header"><span>Courses</span></li>
    <li class="no-menu">
        <a href="@Url.Action("Index", "Courses")" title="Courses">
            <i class="glyph-icon icon-book"></i>
            <span>Courses</span>
        </a>
    </li>
    <li class="no-menu">
        <a href="@Url.Action("Index", "Topics")" title="Topics">
            <i class="glyph-icon icon-book"></i>
            <span>Topics</span>
        </a>
    </li>
    <li class="no-menu">
        <a href="@Url.Action("Index", "TopicCategories")" title="Topics">
        <i class="glyph-icon icon-book"></i>
        <span>Topic Categories</span>
        </a>
    </li>


    <li class="no-menu">
        <a href="@Url.Action("Index", "Brands")" title="Brands">
            <i class="glyph-icon icon-book"></i>
            <span>Brands</span>
        </a>
    </li>
    <li class="no-menu">
        <a href="@Url.Action("Index", "BrandCategories")" title="Brands">
            <i class="glyph-icon icon-book"></i>
            <span>Brand Categories</span>
        </a>
    </li>

    <li class="header"><span>Classes</span></li>
    <li class="no-menu">
        <a href="@Url.Action("Classes", "Demo")" title="Classes">
            <i class="glyph-icon icon-calendar"></i>
            <span>Classes</span>
        </a>
    </li>
    <li class="no-menu">
        <a href="@Url.Action("Surveys", "Demo")" title="Surveys">
            <i class="glyph-icon icon-thumbs-o-up"></i>
            <span>Surveys</span>
        </a>
    </li>
    <li class="header"><span>Vendors</span></li>
<li class="no-menu">
    <a href="@Url.Action("Vendors", "Demo")" title="Vendors">
        <i class="glyph-icon icon-phone"></i>
        <span>Vendors</span>
    </a>
</li>
    <li class="no-menu">
        <a href="@Url.Action("Index", "Instructors")" title="Vendors">
            <i class="glyph-icon icon-phone"></i>
            <span>Instructors</span>
        </a>
    </li>
    <li class="no-menu">
        <a href="@Url.Action("Locations", "Demo")" title="Locations">
            <i class="glyph-icon icon-globe"></i>
            <span>Locations</span>
        </a>
    </li>

    @*<li class="header"><span>Components</span></li>
        <li>
          <a href="javascript:void(0);" title="Elements">
            <i class="glyph-icon icon-user"></i>
            <span>Students</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Buttons","Demo")" title="Buttons"><span>Buttons</span></a></li>
              <li><a href="@Url.Action("LabelsBadges","Demo")" title="Labels & Badges"><span>Labels &amp; Badges</span></a></li>
              <li><a href="@Url.Action("ContentBoxes","Demo")" title="Content boxes"><span>Content boxes</span></a></li>
              <li><a href="@Url.Action("Icons","Demo")" title="Icons"><span>Icons</span></a></li>
              <li><a href="@Url.Action("NavMenus","Demo")" title="Navigation menus"><span>Navigation menus</span></a></li>
              <li><a href="@Url.Action("ResponsiveMessages","Demo")" title="Response messages"><span>Response messages</span></a></li>
              <li><a href="@Url.Action("Images","Demo")" title="Images"><span>Images</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Elements">
            <i class="glyph-icon icon-linecons-diamond"></i>
            <span>Elements</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Buttons","Demo")" title="Buttons"><span>Buttons</span></a></li>
              <li><a href="@Url.Action("LabelsBadges","Demo")" title="Labels & Badges"><span>Labels &amp; Badges</span></a></li>
              <li><a href="@Url.Action("ContentBoxes","Demo")" title="Content boxes"><span>Content boxes</span></a></li>
              <li><a href="@Url.Action("Icons","Demo")" title="Icons"><span>Icons</span></a></li>
              <li><a href="@Url.Action("NavMenus","Demo")" title="Navigation menus"><span>Navigation menus</span></a></li>
              <li><a href="@Url.Action("ResponsiveMessages","Demo")" title="Response messages"><span>Response messages</span></a></li>
              <li><a href="@Url.Action("Images","Demo")" title="Images"><span>Images</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Dashboard boxes">
            <i class="glyph-icon icon-linecons-lightbulb"></i>
            <span>Dashboard boxes</span>
            <span class="bs-label label-primary">Hot</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Images","Demo")" title="Chart boxes"><span>Chart boxes</span></a></li>
              <li><a href="@Url.Action("TileBoxes","Demo")" title="Tile boxes"><span>Tile boxes</span></a></li>
              <li><a href="@Url.Action("SocialBoxes","Demo")" title="Social boxes"><span>Social boxes</span></a></li>
              <li><a href="@Url.Action("PanelBoxes","Demo")" title="Panel boxes"><span>Panel boxes</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Widgets">
            <i class="glyph-icon icon-linecons-wallet"></i>
            <span>Widgets</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Tabs","Demo")" title="Responsive tabs"><span>Responsive tabs</span></a></li>
              <li><a href="@Url.Action("Collapsable","Demo")" title="Collapsables"><span>Collapsable accordions</span></a></li>
              <li><a href="@Url.Action("BsCarousel","Demo")" title="Bootstrap Carousel"><span>Bootstrap carousel</span></a></li>
              <li><a href="@Url.Action("Calendar","Demo")" title="Calendar"><span>Calendar</span></a></li>
              <li><a href="@Url.Action("Scrollbars","Demo")" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
              <li><a href="@Url.Action("Modals","Demo")" title="Modals"><span>Modals</span></a></li>
              <li><a href="@Url.Action("Notifications","Demo")" title="Notifications"><span>Notifications</span></a></li>
              <li><a href="@Url.Action("LazyLoad","Demo")" title="Lazyload"><span>Lazyload</span></a></li>
              <li><a href="@Url.Action("LoadingFeedback","Demo")" title="Loading feedback"><span>Loading feedback</span></a></li>
              <li><a href="@Url.Action("Popovers","Demo")" title="Popovers & Tooltips"><span>Popovers & Tooltips</span></a></li>
              <li><a href="@Url.Action("ProgressBars","Demo")" title="Progress bars"><span>Progress bars</span></a></li>
              <li><a href="@Url.Action("SortableElements","Demo")" title="Sortable elements"><span>Sortable elements</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Forms UI">
            <i class="glyph-icon icon-linecons-eye"></i>
            <span>Forms UI</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("FormsElements","Demo")" title="Form elements"><span>Form elements</span></a></li>
              <li><a href="@Url.Action("FormsValidation","Demo")" title="Form validation"><span>Form validation</span></a></li>
              <li><a href="@Url.Action("Pickers","Demo")" title="Pickers"><span>Pickers</span></a></li>
              <li><a href="@Url.Action("Sliders","Demo")" title="Sliders"><span>Sliders</span></a></li>
              <li><a href="@Url.Action("FormsWizard","Demo")" title="Form wizards"><span>Form wizards</span></a></li>
              <li><a href="@Url.Action("FormsMasks","Demo")" title="Form input masks"><span>Form input masks</span></a></li>
              <li><a href="@Url.Action("ImageCrop","Demo")" title="Image crop"><span>Image crop</span></a></li>
              <li><a href="@Url.Action("DropzoneUploader","Demo")" title="Dropzone uploader"><span>Dropzone uploader</span></a></li>
              <li><a href="@Url.Action("MultiUploader","Demo")" title="Multi uploader"><span>Multi uploader</span></a></li>
              <li><a href="@Url.Action("InputKnobs","Demo")" title="Input knobs"><span>Input knobs</span></a></li>
              <li><a href="@Url.Action("CkEditor","Demo")" title="Ckeditor"><span>Ckeditor</span></a></li>
              <li><a href="@Url.Action("SummerNote","Demo")" title="Summernote"><span>Summernote</span></a></li>
              <li><a href="@Url.Action("Markdown","Demo")" title="Markdown editor"><span>Markdown editor</span></a></li>
              <li><a href="@Url.Action("InlineEditor","Demo")" title="Inline editor"><span>Inline editor</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Advanced tables">
            <i class="glyph-icon icon-linecons-megaphone"></i>
            <span>Advanced tables</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Tables","Demo")" title="Basic tables"><span>Basic tables</span></a></li>
              <li><a href="@Url.Action("ResponsiveTables","Demo")" title="Responsive tables"><span>Responsive tables</span></a></li>
              <li><a href="@Url.Action("DataTables","Demo")" title="Data tables"><span>Data tables</span></a></li>
              <li><a href="@Url.Action("AdvancedDataTables","Demo")" title="Advanced data tables"><span>Advanced data tables</span></a></li>
              <li><a href="@Url.Action("FixedDatatables","Demo")" title="Fixed data tables"><span>Fixed data tables</span></a></li>
              <li><a href="@Url.Action("ResponsiveDataTables","Demo")" title="Responsive data tables"><span>Responsive data tables</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Charts">
            <i class="glyph-icon icon-linecons-paper-plane"></i>
            <span>Charts</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("FlotCharts","Demo")" title="Flot charts"><span>Flot charts</span></a></li>
              <li><a href="@Url.Action("Sparklines","Demo")" title="Sparklines"><span>Sparklines</span></a></li>
              <li><a href="@Url.Action("PieGages","Demo")" title="PieGages"><span>PieGages</span></a></li>
              <li><a href="@Url.Action("JustGage","Demo")" title="justGage"><span>justGage</span></a></li>
              <li><a href="@Url.Action("MorrisChat","Demo")" title="Morris charts"><span>Morris charts</span></a></li>
              <li><a href="@Url.Action("Xcharts","Demo")" title="xCharts"><span>xCharts</span></a></li>
              <li><a href="@Url.Action("ChartJs","Demo")" title="Chart.js"><span>Chart.js</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Maps">
            <i class="glyph-icon icon-linecons-sound"></i>
            <span>Maps</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Gmaps","Demo")" title="gMaps"><span>gMaps</span></a></li>
              <li><a href="@Url.Action("VectorMaps","Demo")" title="Vector maps"><span>Vector maps</span></a></li>
              <li><a href="@Url.Action("Mapael","Demo")" title="Mapael"><span>Mapael</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li class="header"><span>Extra</span></li>
        <li>
          <a href="javascript:void(0);" title="Pages">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Pages</span>
            <span class="bs-label badge-yellow">NEW</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("IndexAlt","Demo")" title="Alternate dashboard"><span>Alternate dashboard</span></a></li>
              <li><a href="@Url.Action("ViewProfile","Demo")" title="View profile"><span>View profile</span></a></li>
              <li><a href="@Url.Action("FaqSection","Demo")" title="FAQ section"><span>FAQ section</span></a></li>
              <li><a href="@Url.Action("AutoMenu","Demo")" title="Auto menu"><span>Auto menu</span></a></li>
              <li><a href="@Url.Action("Invoice","Demo")" title="Invoice"><span>Invoice</span></a></li>
              <li><a href="@Url.Action("AdminBlog","Demo")" title="Blog posts list"><span>Blog posts list</span></a></li>
              <li><a href="@Url.Action("AdminPricing","Demo")" title="Pricing tables"><span>Pricing tables</span></a></li>
              <li><a href="@Url.Action("PortfolioGallery","Demo")" title="Portfolio gallery"><span>Portfolio gallery</span></a></li>
              <li><a href="@Url.Action("PortfolioMasonry","Demo")" title="Portfolio masonry"><span>Portfolio masonry</span></a></li>
              <li><a href="@Url.Action("SlideBars","Demo")" title="Slidebars"><span>Slidebars</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Other Pages">
            <i class="glyph-icon icon-linecons-cup"></i>
            <span>Other Pages</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="#login-1" target="_blank" title="Login page 1"><span>Login page 1</span></a></li>
              <li><a href="#login-2" target="_blank" title="Login page 2"><span>Login page 2</span></a></li>
              <li><a href="#login-3" target="_blank" title="Login page 3"><span>Login page 3</span></a></li>
              <li><a href="#login-4" target="_blank" title="Login page 4"><span>Login page 4</span></a></li>
              <li><a href="#login-5" target="_blank" title="Login page 5"><span>Login page 5</span></a></li>
              <li><a href="#lockscreen-1" target="_blank" title="Lockscreen page 1"><span>Lockscreen page 1</span></a></li>
              <li><a href="#lockscreen-2" target="_blank" title="Lockscreen page 2"><span>Lockscreen page 2</span></a></li>
              <li><a href="#lockscreen-3" target="_blank" title="Lockscreen page 3"><span>Lockscreen page 3</span></a></li>
              <li><a href="#server-1" target="_blank" title="Server page 1"><span>Error 404 page</span></a></li>
              <li><a href="#server-2" target="_blank" title="Server page 2"><span>Error 404 alternate</span></a></li>
              <li><a href="#server-3" target="_blank" title="Server page 3"><span>Server 500 error</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Mailbox">
            <i class="glyph-icon icon-linecons-mail"></i>
            <span>Mailbox</span>
            <span class="bs-badge badge-danger">3</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("MailboxInbox","Demo")" title="Inbox"><span>Inbox</span></a></li>
              <li><a href="@Url.Action("MailboxCompose","Demo")" title="Compose message"><span>Compose message</span></a></li>
              <li><a href="@Url.Action("MailboxSingle","Demo")" title="Single message"><span>Single message</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Snippets">
            <i class="glyph-icon icon-linecons-cd"></i>
            <span>Snippets</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("Timeline","Demo")" title="Timeline"><span>Timeline</span></a></li>
              <li><a href="@Url.Action("Chat","Demo")" title="Chat"><span>Chat</span></a></li>
              <li><a href="@Url.Action("Checklist","Demo")" title="Checklist"><span>Checklist</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>
        <li>
          <a href="javascript:void(0);" title="Helpers">
            <i class="glyph-icon icon-linecons-doc"></i>
            <span>Helpers</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li><a href="@Url.Action("HelperClasses","Demo")" title="Helper classes"><span>Helper classes</span></a></li>
              <li><a href="@Url.Action("PageTransistions","Demo")" title="Page transitions"><span>Page transitions</span></a></li>
              <li><a href="@Url.Action("Animations","Demo")" title="Animations"><span>Animations</span></a></li>
            </ul>
          </div><!-- .sidebar-submenu -->
        </li>*@
</ul><!-- #sidebar-menu -->
