@model IEnumerable<Ktcs.Data.Topic>

@{
  ViewBag.Title = "Index";
}

<div id="page-title">
  <p>KTCS</p>
  <h2>Index</h2>
</div>

<div class="panel">
  <div class="panel-body">
    <h3 class="title-hero">
      @Html.ActionLink("Create New", "Create")
    </h3>
    <div class="example-box-wrapper">
      <table id="datatable-tabletools" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.topic1)
            </th>
            <th></th>
          </tr>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.topic1)
              </td>
              <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.topicId }) |
                @Html.ActionLink("Details", "Details", new { id = item.topicId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.topicId })
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
